*
    margin: 0
    padding: 0
    box-sizing: border-box

$color-blue: #5290ea
$color-orange:#F28B64
$color-grey:#E2E2E2
$background-color:#f0f0f0

.container
    max-width: 1140px
    margin: 0 auto
    padding-top: 16px
.main-section
    min-height:880px
    background-color: $background-color
    &__logo
        width: 152px
    &__nav-container
        display: flex
        justify-content: space-between
        align-items: center
        height: 70px

.nav-menu
    &__list
        display: flex
        gap: 64px
    &__list-item
        font-size: 18px
        font-weight: 600
        list-style-type: none
        a
            text-decoration: none
    

// $background-color1:green
// $background-color2:blue
// .block
//     width: 200px
//     height: 400px
//     background-color: $background-color1
//     &_text
//         background-color: $background-color2

// @mixin new-block
//     height: 100px
//     width: 100px
//     background-color: yellow
    
// .block-2
//     @include new-block
    