*
    margin: 0
    padding: 0
    box-sizing: border-box

// $background-color1:green
// $background-color2:blue
// .block
//     width: 200px
//     height: 400px
//     background-color: $background-color1
//     &_text
//         background-color: $background-color2

// @mixin new-block
//     height: 100px
//     width: 100px
//     background-color: yellow
    
// .block-2
//     @include new-block
    